header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    padding: 40px 80px 240px 80px;
    background-color: var(--Very-Pale-Blue-Top-bg-Pattern);
    nav {
        color: var(--Very-Dark-Blue-Text);
        h1 {
            padding-bottom: 10px;
            font-size: 30px;
            font-weight: var(--heavy-weight);
        }  
    }
    
    .dark-mode {
        color: var(--Dark-Grayish-Blue-Text);
        font-weight: var(--heavy-weight);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        .switch {
            margin-left: 10px;
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
            input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            .slider-round {
                border-radius: 34px;
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: var(--Toggle-light);
                -webkit-transition: .4s;
                transition: .4s;
            }
            .slider-round::before {
                border-radius: 50%;
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 30px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }
            input:checked + .slider-round {
                background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
            }
            input:focus + .slider-round {
                box-shadow: 0 0 1px;
                background-color: var(--Toggle-light);
            }
            input:checked + .slider-round:before {
                -webkit-transform: translateX(-26px);
                -ms-transform: translateX(-26px);
                transform: translateX(-26px);
              }
        }     
    }
}