.overview-data {
    margin-top: 150px;
    padding-left: 80px;
    padding-right: 40px;
    @include media($until: tablet) {
        margin-top: 30px;
        padding-left: 15px;
        padding-right: 0;
        padding-bottom: 30px;
    }
    h2 {
        padding-top: 20px;
        padding-bottom: 10px;
        font-size: 25px;
        font-weight: var(--heavy-weight);
        color: var(--Dark-Grayish-Blue-Text);
    }
    .overview {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1.3fr 1.3fr;
        gap: 40px;
        @include media($until: tablet) {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        .fb-page-views, .fb-likes, .ig-likes, .ig-profile-views, .retweet, .tw-likes, .yt-likes, .yt-views {
            background-color: var(--Very-Pale-Blue-Top-bg-Pattern);
            display: grid;
            grid-template-columns: 0.35fr 0.25fr;
            grid-template-rows: 80px 35px;
            column-gap: 40px;
            padding: 30px 15px;
            justify-content:space-between;
            border-radius: 8px;
            color: var(--Very-Dark-Blue-Text);
            @include media($until: tablet) {
                grid-template-columns: 0.45fr 0.35fr;
                column-gap: 0;
                margin-right: 15px;
            }
            h1 {
                font-size: 35px;
                font-weight: var(--heavy-weight);
            }
            p {
                font-weight: var(--heavy-weight);
                color: var(--Dark-Grayish-Blue-Text);
                margin-bottom: 50px;
                
            }
            img .logo {
                width: 70px;
            }
        }
        .fb-page-views:hover, .fb-likes:hover, .ig-likes:hover, .ig-profile-views:hover, .retweet:hover, .tw-likes:hover, .yt-likes:hover, .yt-views:hover {
            background-color: var(--Light-Grayish-Blue-Card-bg);
            cursor: pointer;
        }
    }
    .fb-page-views.dark-cards-overview, .fb-likes.dark-cards-overview, .ig-likes.dark-cards-overview, .ig-profile-views.dark-cards-overview, .retweet.dark-cards-overview, .tw-likes.dark-cards-overview , .yt-likes.dark-cards-overview, .yt-views.dark-cards-overview {
        background-color: var(--Dark-Desaturated-Blue-card-bg); 
        h1 {
            color: var(--White-Text)
            }
            p {
                color: var(--Desaturated-Blue-Text);
            }
        }
        .fb-page-views.dark-cards-overview:hover, .fb-likes.dark-cards-overview:hover, .ig-likes.dark-cards-overview:hover, .ig-profile-views.dark-cards-overview:hover, .retweet.dark-cards-overview:hover, .tw-likes.dark-cards-overview:hover, .yt-likes.dark-cards-overview:hover, .yt-views.dark-cards-overview:hover {
            background-color: hsl(230, 28%, 25%);
        }
}

