.resume-data {
    position: absolute;
    top: 170px;
    width: 92%;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    padding-left: 80px;
    padding-right: 80px;
    justify-content: center;
    gap: 40px;
    @include media($until: tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 0;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    h1 {
        font-weight: var(--heavy-weight);
        font-size: 70px;
        color: var(--Very-Dark-Blue-Text);
        padding: 25px 0 8px 0;
    }
    h3 {
        font-variant: small-caps;
        padding-bottom: 20px;
    }
    p {
        color: var(--Dark-Grayish-Blue-Text);
        font-weight: var(--heavy-weight);
        font-size: 14px;
        img {
            padding-right: 5px;
            padding-bottom: 2.5px;
        }
        .logo {
            padding-bottom: 0;
        }
    }
    .fb-resume-data, .twitter-resume-data, .ig-resume-data, .yt-resume-data {
        background-color: var(--Very-Pale-Blue-Top-bg-Pattern);
        text-align: center;
        padding: 50px 0;
        border-radius: 8px;
        @include media($until: tablet) {
            padding: 50px 80px;
        }
    }
    .ig-resume-data {
        @include media($until: tablet) {
            padding: 50px 110px;
        }
    }
    .fb-resume-data:hover, .twitter-resume-data:hover, .ig-resume-data:hover, .yt-resume-data:hover {
        background-color: var(--Light-Grayish-Blue-Card-bg);
        cursor: pointer;
    }
    .fb-resume-data {
        border-top: 5px solid var(--Facebook);
    }
    .twitter-resume-data {
        border-top: 5px solid var(--Twitter);
    }
    .ig-resume-data {
        border-top: 5px solid;
        border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1;
    }
    .yt-resume-data {
        border-top: 5px solid var(--YouTube);
    }
}
 .fb-resume-data.dark-cards-resume, .twitter-resume-data.dark-cards-resume, .ig-resume-data.dark-cards-resume, .yt-resume-data.dark-cards-resume{
    background-color: var(--Dark-Desaturated-Blue-card-bg);
    h1 {
     color: var(--White-Text);
    }
    h3 {
        color: var(--Desaturated-Blue-Text);
    }
}
.fb-resume-data.dark-cards-resume:hover, .twitter-resume-data.dark-cards-resume:hover, .ig-resume-data.dark-cards-resume:hover, .yt-resume-data.dark-cards-resume:hover{
    background-color: hsl(230, 28%, 25%);
}