:root {
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(hsl(37, 97%, 70%) to hsl(329, 70%, 58%));
  --YouTube: hsl(348, 97%, 39%);
  --Toggle-dark: linear gradient hsl(210, 78%, 56%) to hsl(146, 68%, 55%);
  --Toggle-light: hsl(230, 22%, 74%);
  --Very-Dark-Blue-bg: hsl(230, 17%, 14%);
  --Very-Dark-Blue-Top-bg-Pattern: hsl(232, 19%, 15%);
  --Dark-Desaturated-Blue-card-bg: hsl(228, 28%, 20%);
  --Desaturated-Blue-Text: hsl(228, 34%, 66%);
  --White-Text: hsl(0, 0%, 100%);
  --White-bg: hsl(0, 0%, 100%);
  --Very-Pale-Blue-Top-bg-Pattern: hsl(225, 100%, 98%);
  --Light-Grayish-Blue-Card-bg: hsl(227, 47%, 96%);
  --Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
  --Very-Dark-Blue-Text: hsl(230, 17%, 14%);
  --light-weight: 400;
  --heavy-weight: 700;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 14px;
}
body .green {
  color: var(--Lime-Green);
  font-weight: var(--heavy-weight);
}
body .red {
  color: var(--Bright-Red);
  font-weight: var(--heavy-weight);
}

header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  padding: 40px 80px 240px 80px;
  background-color: var(--Very-Pale-Blue-Top-bg-Pattern);
}
header nav {
  color: var(--Very-Dark-Blue-Text);
}
header nav h1 {
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: var(--heavy-weight);
}
header .dark-mode {
  color: var(--Dark-Grayish-Blue-Text);
  font-weight: var(--heavy-weight);
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

.resume-data {
  position: absolute;
  top: 170px;
  width: 92%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  grid-row: 1.5fr;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: center;
  gap: 40px;
}
.resume-data h1 {
  font-weight: var(--heavy-weight);
  font-size: 70px;
  color: var(--Very-Dark-Blue-Text);
  padding: 25px 0 8px 0;
}
.resume-data h3 {
  font-variant: small-caps;
  padding-bottom: 20px;
}
.resume-data p {
  color: var(--Dark-Grayish-Blue-Text);
  font-weight: var(--heavy-weight);
  font-size: 14px;
}
.resume-data p img {
  padding-right: 5px;
  padding-bottom: 2.5px;
}
.resume-data p .logo {
  padding-bottom: 0;
  padding-right: 8px;
}
.resume-data .fb-resume-data, .resume-data .twitter-resume-data, .resume-data .ig-resume-data, .resume-data .yt-resume-data {
  background-color: var(--Light-Grayish-Blue-Card-bg);
  text-align: center;
  padding: 50px 0;
  border-radius: 8px;
}
.resume-data .fb-resume-data {
  border-top: 5px solid var(--Facebook);
}
.resume-data .twitter-resume-data {
  border-top: 5px solid var(--Twitter);
}
.resume-data .ig-resume-data {
  border-top: 5px solid;
  border-color: hsl(329, 70%, 58%);
}
.resume-data .yt-resume-data {
  border-top: 5px solid var(--YouTube);
}

.overview-data {
  margin-top: 150px;
  padding-left: 80px;
  padding-right: 80px;
}
.overview-data h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: var(--heavy-weight);
  color: var(--Dark-Grayish-Blue-Text);
}
.overview-data .overview {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.3fr 1.3fr;
  gap: 30px;
}
.overview-data .overview .fb-page-views, .overview-data .overview .fb-likes, .overview-data .overview .ig-likes, .overview-data .overview .ig-profile-views, .overview-data .overview .retweet, .overview-data .overview .tw-likes, .overview-data .overview .yt-likes, .overview-data .overview .yt-views {
  background-color: var(--Light-Grayish-Blue-Card-bg);
  display: grid;
  grid-template-columns: 0.35fr 0.35fr;
  grid-template-rows: 80px 35px;
  column-gap: 40px;
  padding: 30px 15px;
  justify-content: space-between;
  border-radius: 8px;
  color: var(--Very-Dark-Blue-Text);
}
.overview-data .overview .fb-page-views h1, .overview-data .overview .fb-likes h1, .overview-data .overview .ig-likes h1, .overview-data .overview .ig-profile-views h1, .overview-data .overview .retweet h1, .overview-data .overview .tw-likes h1, .overview-data .overview .yt-likes h1, .overview-data .overview .yt-views h1 {
  font-size: 35px;
  font-weight: var(--heavy-weight);
}
.overview-data .overview .fb-page-views p, .overview-data .overview .fb-likes p, .overview-data .overview .ig-likes p, .overview-data .overview .ig-profile-views p, .overview-data .overview .retweet p, .overview-data .overview .tw-likes p, .overview-data .overview .yt-likes p, .overview-data .overview .yt-views p {
  font-weight: var(--heavy-weight);
  color: var(--Dark-Grayish-Blue-Text);
  margin-bottom: 50px;
}

/*# sourceMappingURL=style.css.map */
