:root {
  --Lime-Green: hsl(163, 72%, 41%);
  --Bright-Red: hsl(356, 69%, 56%);
  --Facebook: hsl(208, 92%, 53%);
  --Twitter: hsl(203, 89%, 53%);
  --Instagram: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --YouTube: hsl(348, 97%, 39%);
  --Toggle-dark: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --Toggle-light: hsl(230, 22%, 74%);
  --Very-Dark-Blue-bg: hsl(230, 17%, 14%);
  --Very-Dark-Blue-Top-bg-Pattern: hsl(232, 19%, 15%);
  --Dark-Desaturated-Blue-card-bg: hsl(228, 28%, 20%);
  --Desaturated-Blue-Text: hsl(228, 34%, 66%);
  --White-Text: hsl(0, 0%, 100%);
  --White-bg: hsl(0, 0%, 100%);
  --Very-Pale-Blue-Top-bg-Pattern: hsl(225, 100%, 98%);
  --Light-Grayish-Blue-Card-bg: hsl(227, 47%, 96%);
  --Dark-Grayish-Blue-Text: hsl(228, 12%, 44%);
  --Very-Dark-Blue-Text: hsl(230, 17%, 14%);
  --light-weight: 400;
  --heavy-weight: 700;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  line-height: normal;
}
body .green {
  color: var(--Lime-Green);
  font-weight: var(--heavy-weight);
}
body .red {
  color: var(--Bright-Red);
  font-weight: var(--heavy-weight);
}

.dark {
  background-color: var(--Very-Dark-Blue-bg);
}
.dark h2 {
  color: var(--White-Text) !important;
}

.dark-header {
  background-color: var(--Very-Dark-Blue-Top-bg-Pattern);
}
.dark-header h1 {
  color: var(--White-Text);
}

header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  padding: 40px 80px 240px 80px;
  background-color: var(--Very-Pale-Blue-Top-bg-Pattern);
}
header nav {
  color: var(--Very-Dark-Blue-Text);
}
header nav h1 {
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: var(--heavy-weight);
}
header nav p {
  color: var(--Desaturated-Blue-Text);
  font-weight: var(--heavy-weight);
}
header .dark-mode {
  color: var(--Dark-Grayish-Blue-Text);
  font-weight: var(--heavy-weight);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header .dark-mode .switch {
  margin-left: 10px;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
header .dark-mode .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
header .dark-mode .switch .slider-round {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Toggle-light);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
header .dark-mode .switch .slider-round::before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 30px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
header .dark-mode .switch input:checked + .slider-round {
  background: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}
header .dark-mode .switch input:focus + .slider-round {
  box-shadow: 0 0 1px;
  background-color: var(--Toggle-light);
}
header .dark-mode .switch input:checked + .slider-round:before {
  -webkit-transform: translateX(-26px);
  -ms-transform: translateX(-26px);
  transform: translateX(-26px);
}

.resume-data {
  position: absolute;
  top: 170px;
  width: 92%;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: center;
  gap: 40px;
}
.resume-data h1 {
  font-weight: var(--heavy-weight);
  font-size: 70px;
  color: var(--Very-Dark-Blue-Text);
  padding: 25px 0 8px 0;
}
.resume-data h3 {
  font-variant: small-caps;
  padding-bottom: 20px;
}
.resume-data p {
  color: var(--Dark-Grayish-Blue-Text);
  font-weight: var(--heavy-weight);
  font-size: 14px;
}
.resume-data p img {
  padding-right: 5px;
  padding-bottom: 2.5px;
}
.resume-data p .logo {
  padding-bottom: 0;
}
.resume-data .fb-resume-data, .resume-data .twitter-resume-data, .resume-data .ig-resume-data, .resume-data .yt-resume-data {
  background-color: var(--Very-Pale-Blue-Top-bg-Pattern);
  text-align: center;
  padding: 50px 0;
  border-radius: 8px;
}
.resume-data .fb-resume-data:hover, .resume-data .twitter-resume-data:hover, .resume-data .ig-resume-data:hover, .resume-data .yt-resume-data:hover {
  background-color: var(--Light-Grayish-Blue-Card-bg);
  cursor: pointer;
}
.resume-data .fb-resume-data {
  border-top: 5px solid var(--Facebook);
}
.resume-data .twitter-resume-data {
  border-top: 5px solid var(--Twitter);
}
.resume-data .ig-resume-data {
  border-top: 5px solid;
  border-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%)) 1;
}
.resume-data .yt-resume-data {
  border-top: 5px solid var(--YouTube);
}

.fb-resume-data + .dark-cards-resume, .twitter-resume-data + .dark-cards-resume, .ig-resume-data + .dark-cards-resume {
  background-color: var(--Dark-Desaturated-Blue-card-bg);
}
.fb-resume-data + .dark-cards-resume h1, .twitter-resume-data + .dark-cards-resume h1, .ig-resume-data + .dark-cards-resume h1 {
  color: var(--White-Text);
}
.fb-resume-data + .dark-cards-resume h3, .twitter-resume-data + .dark-cards-resume h3, .ig-resume-data + .dark-cards-resume h3 {
  color: var(--Desaturated-Blue-Text);
}

.fb-resume-data + .dark-cards-resume:hover, .twitter-resume-data + .dark-cards-resume:hover, .ig-resume-data + .dark-cards-resume:hover {
  background-color: hsl(230, 28%, 25%);
}

.overview-data {
  margin-top: 150px;
  padding-left: 80px;
  padding-right: 40px;
}
.overview-data h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 25px;
  font-weight: var(--heavy-weight);
  color: var(--Dark-Grayish-Blue-Text);
}
.overview-data .overview {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1.3fr 1.3fr;
  gap: 40px;
}
.overview-data .overview .fb-page-views, .overview-data .overview .fb-likes, .overview-data .overview .ig-likes, .overview-data .overview .ig-profile-views, .overview-data .overview .retweet, .overview-data .overview .tw-likes, .overview-data .overview .yt-likes, .overview-data .overview .yt-views {
  background-color: var(--Very-Pale-Blue-Top-bg-Pattern);
  display: grid;
  grid-template-columns: 0.35fr 0.45fr;
  grid-template-rows: 80px 35px;
  column-gap: 40px;
  padding: 30px 15px;
  justify-content: space-between;
  border-radius: 8px;
  color: var(--Very-Dark-Blue-Text);
}
.overview-data .overview .fb-page-views h1, .overview-data .overview .fb-likes h1, .overview-data .overview .ig-likes h1, .overview-data .overview .ig-profile-views h1, .overview-data .overview .retweet h1, .overview-data .overview .tw-likes h1, .overview-data .overview .yt-likes h1, .overview-data .overview .yt-views h1 {
  font-size: 35px;
  font-weight: var(--heavy-weight);
}
.overview-data .overview .fb-page-views p, .overview-data .overview .fb-likes p, .overview-data .overview .ig-likes p, .overview-data .overview .ig-profile-views p, .overview-data .overview .retweet p, .overview-data .overview .tw-likes p, .overview-data .overview .yt-likes p, .overview-data .overview .yt-views p {
  font-weight: var(--heavy-weight);
  color: var(--Dark-Grayish-Blue-Text);
  margin-bottom: 50px;
}
.overview-data .overview .fb-page-views img .logo, .overview-data .overview .fb-likes img .logo, .overview-data .overview .ig-likes img .logo, .overview-data .overview .ig-profile-views img .logo, .overview-data .overview .retweet img .logo, .overview-data .overview .tw-likes img .logo, .overview-data .overview .yt-likes img .logo, .overview-data .overview .yt-views img .logo {
  width: 70px;
}
.overview-data .overview .fb-page-views:hover, .overview-data .overview .fb-likes:hover, .overview-data .overview .ig-likes:hover, .overview-data .overview .ig-profile-views:hover, .overview-data .overview .retweet:hover, .overview-data .overview .tw-likes:hover, .overview-data .overview .yt-likes:hover, .overview-data .overview .yt-views:hover {
  background-color: var(--Light-Grayish-Blue-Card-bg);
  cursor: pointer;
}
.overview-data .fb-page-views + .dark-cards-overview, .overview-data .fb-likes + .dark-cards-overview, .overview-data .ig-likes + .dark-cards-overview, .overview-data .ig-profile-views + .dark-cards-overview, .overview-data .retweet + .dark-cards-overview, .overview-data .tw-likes + .dark-cards-overview, .overview-data .yt-likes + .dark-cards-overview, .overview-data .yt-views + .dark-cards-overview {
  background-color: var(--Dark-Desaturated-Blue-card-bg);
}
.overview-data .fb-page-views + .dark-cards-overview h1, .overview-data .fb-likes + .dark-cards-overview h1, .overview-data .ig-likes + .dark-cards-overview h1, .overview-data .ig-profile-views + .dark-cards-overview h1, .overview-data .retweet + .dark-cards-overview h1, .overview-data .tw-likes + .dark-cards-overview h1, .overview-data .yt-likes + .dark-cards-overview h1, .overview-data .yt-views + .dark-cards-overview h1 {
  color: var(--White-Text);
}
.overview-data .fb-page-views + .dark-cards-overview p, .overview-data .fb-likes + .dark-cards-overview p, .overview-data .ig-likes + .dark-cards-overview p, .overview-data .ig-profile-views + .dark-cards-overview p, .overview-data .retweet + .dark-cards-overview p, .overview-data .tw-likes + .dark-cards-overview p, .overview-data .yt-likes + .dark-cards-overview p, .overview-data .yt-views + .dark-cards-overview p {
  color: var(--Desaturated-Blue-Text);
}
.overview-data .fb-page-views + .dark-cards-overview:hover, .overview-data .fb-likes + .dark-cards-overview:hover, .overview-data .ig-likes + .dark-cards-overview:hover, .overview-data .ig-profile-views + .dark-cards-overview:hover, .overview-data .retweet + .dark-cards-overview:hover, .overview-data .tw-likes + .dark-cards-overview:hover, .overview-data .yt-likes + .dark-cards-overview:hover, .overview-data .yt-views + .dark-cards-overview:hover {
  background-color: hsl(230, 28%, 25%);
}

/*# sourceMappingURL=style.css.map */
